body { background: gray; }

.menu {
  padding-bottom: 1em;
}

#main { 
    background: white;
    margin-top: 1em;
    margin-left: auto; 
    margin-right: auto; 
    width: 80%; 
    padding: 1em;
    border: groove;
} 

#rackbuttons { width: 100% }

#tubebarcode { font-size: 40px; background: yellow; }

#error { 
  font-size: 40px; 
  background: pink; 
  padding: 0.5em;
  /* text-align: center; */
}

#messages {
  font-size: 15px;
  background: lightgray;
  padding: 0.5em;
}

#messages li {
  margin-left: 1em;
}


/*  
  http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html 

  Make sure the span's vertical padding (5 + 5) and line-height (14) amount 
  to the total height of the button (24). Using a different padding, means 
  setting a different height. 


  Although hardly catastrophic, IE does not return the button to its normal 
  state whenever it's released. To force such behaviour, we need to add a tiny 
  bit of JavaScript to the <a> tag:

  <a class="button" href="#" onclick="this.blur();">  </a>

  To submit forms with this type of button, simply add more calls to the 
  button's onclick event. 
*/

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 

.hint { font-size: x-small; background: #CCC; padding: 0 0.5em; }