body { 
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif
}

#tubebarcode { font-size: 40px; background: yellow; }

table.plate { font-size: 8pt; }
.plate td { background: white; /*padding: 5px 10px*/; height: 22px; width: 80px; text-align: center }
.plate td.failed { background: pink }
.plate td.empty { background: #DDD }

.hint { font-size: x-small; }

#last_csv {display:block; width: 100%}







#error { 
  font-size: 40px; 
  background: pink; 
  padding: 0.5em;
  /* text-align: center; */
}

#messages {
  font-size: 15px;
  background: lightgray;
  padding: 0.5em;
}

#messages li {
  margin-left: 1em;
}


